<h1>Editing Course Content History</h1>

<%= render 'form', course_content_history: @course_content_history %>

<%= link_to 'Show', @course_content_history %> |
<%= link_to 'Back', course_content_histories_path %>
