<p id="notice"><%= notice %></p>

<p>
  <strong>Course content:</strong>
  <%= @course_content_history.course_content_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course_content_history.title %>
</p>

<p>
  <strong>Body:</strong>
</p>

<p>
  <%= @course_content_history.body %>
</p>
