<h1>Braven Resources</h1>

<p>Click the button below to open Braven Resources in a new window.</p>

<a class="btn btn-primary" href="<%= @course_resources_url %>" target="_blank" role="button">Load Braven Resources in a new window</a>
