<h1>Discord Signup Complete</h1>

<p>You have been added to the Braven Discord Server</p>
<p>If you lose access or leave the Braven Discord server at any time, go back to the assignment and complete the steps again to rejoin.</p>