<% content_for :title, 'Join Discord Server' %>
<h1>Get Started With Discord</h1>

<% if @discord_user.nil? %>
  <p>Complete step one, then come back to complete the following steps.</p>

  <h2>Step 1: Sign up/Register</h2>
  <p>If you have a Discord account sign in here: <a href="https://discord.com/login">https://discord.com/login</a></p>

  <p>If you don't have a Discord account register here: <a href="https://discord.com/register">https://discord.com/register</a></p>

  <h2>Step 2: Authorize Your Discord Account</h2>
  <p><a href="https://discord.com/api/oauth2/authorize?client_id=<%= Rails.application.secrets.discord_client_id %>&redirect_uri=<%= ERB::Util.url_encode(Rails.application.secrets.discord_redirect_uri) %>&response_type=code&scope=identify%20email%20guilds%20guilds.join">Authorize Braven to access your Discord account</a></p>

<% else %>
  <% if @discord_user["email"].nil? %>
    <p>Follow the instructions to set an email address and password for your account.</p>

    <p>Go to your <a href="https://discord.com/channels/@me">Discord home page </a></p>

    <p>Click the gear in the lower left corner to go to your user settings.</p>
    <img src="https://res.cloudinary.com/dsxuuory9/image/upload/v1634239612/discorddemo/Screen_Shot_2021-10-14_at_3.26.45_PM_sgdr3l.png" alt="" class="discord-demo">

    <p>At the top of the user settings in red, click the button that says "Claim Your Account"</p>
    <img src="https://res.cloudinary.com/dsxuuory9/image/upload/v1634239518/discorddemo/Screen_Shot_2021-10-14_at_2.07.26_PM_oxxhgg.png" alt="" class="discord-demo">

    <p>A pop up box should appear to enter a email and password. You may enter any email and password you would like to register.</p>
    <img src="https://res.cloudinary.com/dsxuuory9/image/upload/v1634239518/discorddemo/Screen_Shot_2021-10-14_at_2.08.20_PM_jekh6i.png" alt="" class="discord-demo">

    <p>You can close out of the next pop up that says a confirmation email has been sent to you.</p>  
    <img src="https://res.cloudinary.com/dsxuuory9/image/upload/v1634239518/discorddemo/Screen_Shot_2021-10-14_at_2.10.21_PM_uytllz.png" alt="" class="discord-demo">
  <% end %>

  <% unless @discord_user["verified"] %>
    <p>Go to your email, find the confirmation email from Discord with the subject "Verify Your Email Address for Discord". </p>
    <img src="https://res.cloudinary.com/dsxuuory9/image/upload/v1634239519/discorddemo/Screen_Shot_2021-10-14_at_2.12.57_PM_woyh1q.png" alt="" class="discord-demo">

    <p>Click into the email and click the blue button that says "Verify Email"</p>
    <img src="https://res.cloudinary.com/dsxuuory9/image/upload/v1634239518/discorddemo/Screen_Shot_2021-10-14_at_2.12.33_PM_qagfqy.png" alt="" class="discord-demo">

    <p>If you don't see the email, go to your <a href="https://discord.com/channels/@me">Discord home page </a></p>

    <p>Click the gear in the lower left corner to go to your user settings.</p>
    <img src="https://res.cloudinary.com/dsxuuory9/image/upload/v1634239612/discorddemo/Screen_Shot_2021-10-14_at_3.26.45_PM_sgdr3l.png" alt="" class="discord-demo">

    <p>At the top of the user settings , click the button that says "Resend Verification Email"</p>
    <img src="https://res.cloudinary.com/dsxuuory9/image/upload/v1634239519/discorddemo/Screen_Shot_2021-10-14_at_2.21.15_PM_irmrvy.png" alt="" class="discord-demo">
  <% end %>

  <p class="discord-demo-bottom-text">Once you're all set up, continue to the <a href="https://discord.com/channels/722098701878689933/846463735961878598">Braven Discord Server</a></p>
<% end %>
