<div class="row m-1">
  <div class="col">

    <% if content_for? :instructions_heading %>
      <%= yield(:instructions_heading) %>
    <% end %>

    <% if content_for? :instructions_prompt %>
      <%= yield(:instructions_prompt) %>
    <% end %>

    <% if content_for? :instructions_call_to_action %>
      <%= yield(:instructions_call_to_action) %>
    <% end %>

  </div>
</div>
