<div class="p-3 border border-danger">
  <p><em>Tips to find the email:</em></p>
  <ul>
    <li>Search for an email with "Verify: Signed Response" in the subject line</li>
    <li>The email sender is: <code>forms@bebraven.org</code></li>
    <li>Check your spam folder</li>
    <li>Gmail users can paste the following in the search mail toolbar: <code>in:all "Verify: Signed Response"</code></li>
  </ul>
</div>

