<% content_for :instructions_heading do %>
  <h1>Forms Submitted</h1>
<% end %>

<% content_for :instructions_prompt do %>
  <p>Thank you for signing and submitting your forms!</p>
  <p>There are no additional steps required. Please contact support@bebraven.org if you need additional assistance.</p>
<% end %>

<%= render partial: 'instructions' %>