<% content_for :title, 'Forms Submitted' %>

<% content_for :instructions_heading do %>
  <h1>Forms Submitted</h1>
<% end %>

<% content_for :instructions_prompt do %>
  <p>Thank you for signing and submitting your forms!</p>
  <p>There are no additional required steps to take here; however, you may receive an email from forms@bebraven.org with a link to verify the forms you just signed. <strong>This step is optional</strong> and you may disregard it.</p>
<% end %>

<% content_for :instructions_call_to_action do %>
  <p><a href="<%= @course.canvas_url %>" class="btn btn-primary">Go Back To The Course</a></p>
<% end %>

<%= render partial: 'instructions' %>
