<div class="row justify-content-center">
  <div class="col-md-8">
    <h1>Check your email</h1>
    <p>Please check your email for instructions on how to finish creating your account.</p>
    <p><small>If you don't see it in your inbox, make sure and check your spam folder and search for an email from <strong><%= ENV['MAILER_FROM_EMAIL'] %></strong></small></p>
  </div>
</div>
