<h1>Check your email</h1>
<div class="no-pad">
<p>Please check your email for instructions on how to finish creating your account.</p>
<p>If you don't see it in your inbox, make sure and check your spam folder and search for an email from <strong><%= ENV['MAILER_FROM_EMAIL'] %></strong></p>
</div>
