<% content_for :title, 'Confirmation Failed' %>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <h1>Confirmation failed</h1>
    <p>Your confirmation link has expired, has already been used, or was invalid.</p>
    <p>If you followed this link from an old email, and have not already confirmed your account, click the button below to try sending a new confirmation email.</p>
    <%= form_with(model: User, url: user_confirmation_path, html: { method: :post}) do |f| %>

      <div class="field">
        <%= f.hidden_field :confirmation_token, value: params[:confirmation_token] %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation email", class: 'btn btn-sm btn-secondary m-0 py-0' %>
      </div>

    <% end %>
  </div>
</div>
