<% content_for :title, 'Braven Module' %>

<% content_for :css_js do %>
  <%= javascript_pack_tag 'rise360_module_versions', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :content do %>
  <div class="container rise360-module-version-container">
    <iframe id="rise360-iframe" src="<%= @launch_path %>"></iframe>
  </div>
<% end %>

