# Git
.git
.gitignore

# Logs
log/*

# Temp files
tmp/*

# Webpack-related
node_modules

# Compiled assets
public/assets/
public/packs/

# Specs/tests stuff
coverage/

# Bundler / gems stuff
.bundle/config
vendor/bundle/
