<%= render "devise/shared/error_messages", resource: resource %>
<h2>Already have an account!</h1>
<div>
  <p>From our records it seems you already have an account.</p>
  <p>If believe you don't have an account, please <a href="mailto:support@bebraven.org">contact us here</a></p>
</div>
