<%= render "devise/shared/error_messages", resource: resource %>
<h1>Uh oh. Something went wrong!</h1>
<div>
  <p>You should have a received a link from Braven after signing up for the program at <a href="https://bebraven.org">bebraven.org</a>.</p>
  <p>If you don't have access to the email you signed up with or didn't receive an email with a link, please <a href="mailto:support@bebraven.org">contact us here</a></p>
</div>
