<h1>Course Module</h1>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @course_module.name %></td>
    </tr>
    <tr>
      <td>Lessons</td>
      <td><%= link_to 'click here', course_module_lessons_path(@course_module) %></td>
    </tr>
    <tr>
      <td>Projects</td>
      <td><%= link_to 'click here', course_module_projects_path(@course_module) %></td>
    </tr>
  </tbody>
</table>
<br/>
<%= link_to 'Back To All Course Modules', course_modules_path %>
