<% if resource.errors.any? %>
  <div id="error_explanation">
    <h3>
      Please try again
    </h3>
    <ul>
      <%# Only show the first error and let them work through them one at a time %>
      <li><%= resource.errors.first[1] %></li>
    </ul>
  </div>
<% end %>
