<% content_for :title, 'Impact Survey' %>

<%= form_for [@base_course_survey_version, @survey_submission] do |f| %>
  <div class="bv-custom-content-container">
    <%== @base_course_survey_version.survey_version.body %>
    <input id="state" name='state' type='hidden' value="<%= params[:state] %>" />
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
