<% content_for :title, 'Impact Survey' %>

<%= form_for [@course_survey_version, @survey_submission] do |f| %>
  <div class="bv-custom-content-container">
    <%== @course_survey_version.survey_version.body %>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
