<%= form_for [@base_course_survey_version, @survey_submission] do |f| %>
  <div class="bz-assignment">
    <%== @base_course_survey_version.survey_version.body %>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
