<% content_for :title, 'Take Attendance' %>

<div class="row m-1">
  <div class="col">

    <h1>Take Attendance</h1>
    <p>
      <%= "There are no events in course #{@accelerator_course.name} to take attendance for." %>
    </p>
    <p>
      If you think this is wrong, please reach out to support@bebraven.org.
    </p>

  </div>
</div>
