<% if @show_banner %>
  <p role="alert" class="login-alert row mx-1 mt-2 p-2 alert">
    Braven reset your password on June 9, 2022. If you haven’t already, please click "Forgot your password?" below to create a new password and regain access to your account. This was a precautionary measure in response to a security incident with a 3rd party vendor; there were no known data breaches within Braven’s systems.
  </p>
<% end %>

<div class="col-md-4 offset-md-4">
  <h1>Braven Login</h1>
  <% if @message %>
    <p role="alert"><%= @message[:message] %></p>
  <% end %>

  <% if request.cookies["login_flash"] %>
  <p><%= request.cookies["login_flash"] %></p>
  <%
    response.set_cookie("login_flash", {
      :value => '',
      :expires => Time.now,
      :domain => @settings[:cookie_domain]
    })
  %>
  <% end %>
  <%= render "login_form" %>
</div>
