<div class="col-md-4 col-md-offset-4">
  <h2>Braven Login</h2>
  <% if @message %>
    <p><%= @message[:message] %></p>
  <% end %>

  <% if request.cookies["login_flash"] %>
  <p><%= request.cookies["login_flash"] %></p>
  <%
    response.set_cookie("login_flash", {
      :value => '',
      :expires => Time.now,
      :domain => @settings[:cookie_domain]
    })
  %>
  <% end %>
  <%= render "login_form" %>
</div>

