<div class="col-md-4 offset-md-4">
  <h1>Braven Login</h1>
  <% if @message %>
    <p><%= @message[:message] %></p>
  <% end %>

  <% if request.cookies["login_flash"] %>
  <p><%= request.cookies["login_flash"] %></p>
  <%
    response.set_cookie("login_flash", {
      :value => '',
      :expires => Time.now,
      :domain => @settings[:cookie_domain]
    })
  %>
  <% end %>
  <%= render "login_form" %>
</div>

<% if ENV['APPLICATION_HOST'].exclude? 'booster'  %>
<div class="col-md-6 offset-md-4" id="booster-login">
  For the Braven Career Booster: <a href="//<%= @settings[:booster_portal_domain] %>">Login here</a>
</div>
<% end %>


