<% content_for :title, 'Launch Waivers Form' %>

<p>In order to participate in Braven, please sign and submit the waivers.</p>
<br/>
TODO: Not Yet Implemented
<p><a href="#" class="btn btn-primary btn-lg" target="_parent">Click here to get started</a></p>
