<div id="lesson-content-create">
  <h2>Insert the lesson below?</h2>
  <form action="<%= @deep_link_return_url %>" method="post" id="deep-link-form">
    <input id="JWT" name='JWT' type='hidden' value="<%= @jwt_response %>" />
    <input type='submit' value='Yes' />
  </form>
  <br/>
  <iframe id="lesson-content-preview" src="<%= lesson_content_url(@lesson_content) %>"></iframe>
</div>
