<div id="lesson-create">
  <form action="<%= @deep_link_return_url %>" method="post" id="deep-link-form">
    <input id="JWT" name='JWT' type='hidden' value="<%= @jwt_response %>" />
    <input type='submit' value='Confirm' />
  </form>
  <iframe src="<%= lesson_content_url(@lesson_content) %>"></iframe>
</div>
