<h1>Program</h1>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @program.name %></td>
    </tr>
    <tr>
      <td>Modules</td>
      <td><%= link_to 'click here', program_course_modules_path(@program) %></td>
    </tr>
  </tbody>
</table>
<br/>
<%= link_to 'Back To All Programs', programs_path %>
