<div>
	<h1>LTI Link Selection</h1>
</div>

<div>
	<p>Upload a file here</p>
</div>

<p>Find me in app/views/lti_link_selection/index.html.erb</p>
<div>
	<p>user_id = <%= @canvas_user_id %></p>
</div>
