@mixin braven-button-base {
  border-radius: 0.2rem;
  border-width: 0.1rem;
  background-color: $bv-red;
  border-color: $bv-red-500;
  color: $button-color-base;
  font-family: $headings-font-family;
  font-weight: bold;
  letter-spacing: 0.02rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

@mixin braven-button-base-hover {
  background-color: $bv-black;
  border-color: $bv-silver-300;
  color: $button-color-base;
}

@mixin braven-button-base-focus {
  @include braven-button-base-hover;
}

@mixin braven-button-primary {
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
}
