/**
 * This file is for the base styling of all html elements and applies to the entire
 * application (aka layouts). If you want to target a particular element using
 * its class or id, put that targeted styling in application.scss or an even narrower
 * scoped file if it's not an element used across the entire application.
 */

@import "variables";
@import "buttons";
@import "headings";

html, body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family-base;

  // Weird stuff happens with margin collapsing causing a margin between the body and
  // the first element. This prevents it. Example of problem:
  // https://stackoverflow.com/questions/7742720/css-margin-pushing-the-body-element
  overflow: auto; 
}

header {
  height: 3.8rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @include braven-headings-base;
}

h2, .h2, h4, .h4, h6, .h6 {
  @include braven-headings-alternate;
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  @include braven-headings-h6;
}

th {
  font-family: $headings-font-family;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  line-height: 1.7;
  margin-bottom: 0.75rem;
}

a {
	color: $bv-oceanblue-600;
}

a:visited {
	color: $bv-oceanblue-700;
}

li {
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

textarea, input {
  padding: 0.4rem;
  margin-bottom: 1rem;
}

input[type=submit] {
  @include braven-button-base;
  @include braven-button-primary;
}

input[type=submit]:hover, 
input[type=submit]:focus {
  @include braven-button-base-hover;
}

/* A link adjacent to a submit is part of the submit button */
input[type=submit] + a {
  color: $button-color-base;
}
