/*
 * This is a manifest file that'll be compiled into lti_canvas.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add lti-canvas-wide styles, those that will appear in all pages shown when
 * launched in Canvas through the LTI Extension, to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
//*= require custom_contents
//*= require linked_in_authorization
//*= require capstone_evaluation_submissions
//*= require attendance_event_submissions
//*= require rise360_module_grades
//*= require discord_signups

@import "shared/variables";

// Center the root div horizontally on the page when shown through our LTI extension.
// Note that generally, pages using this layout will be launched in their own window
// but they may be launched as an iframe as well, so be mindful of that when editing
// these styles.
// Set the max-width to medium sized devices even when viewed
// on a desktop to force ourselves to create content that will look good on a
// mobile device. If you decide to change the max-width for a certain view,
// make sure you write your content responsively!
.bv-lti-container {
  height: 100vh; // Height of iframe viewport layout, not the actual screen
  max-width: $container-max-width-md;
  margin: 0 auto;
  padding: 1.4rem;
}
