<div class="row">
  <div class="col-md-10">
    <p>The email looks something like this:</p>
    <div class="p-3 border">
      <small>
        <p>To: SomeUser SomeLastname &lt;<a href="mailto:#">some_user@some_email.com</a>&gt;</p>
        <p>Subject: Get ready for Braven</p>
      </small>
      <hr>
      <div>
        <p>Hi SomeUser,</p>

        <p>We’re so excited for you to participate in Braven! In order to access the program you must create a Braven Canvas account.</p>

        <p>Please <strong>click the button</strong> below to create your account.</p>

        <p><mark>[Create Account Button Here]</mark></p>

        <ul>
          <li>You will then receive an email to verify your new account. If you do not receive it, please click the “resend instructions” button.</li>
          <li>If you have any issues creating your account or logging in, please reach out to <a href="support@bebraven.org">support@bebraven.org</a>.</li>
          <li>You will then access the account by going to this link in the future: <a href="https://braven.instructure.com">https://braven.instructure.com</a></li>
       </ul>

        <p>Best,<br>
         - The Braven Team</p>
      </div>
    </div>
  </div>
</div>
