<% content_for(:headline) do %>
  Users 
<% end %>

<% content_for(:headline_buttons) do %>
  <%= link_to 'JSON', users_path(format: 'json'), class: 'btn btn-sm btn-secondary', target: '_blank' %>
<% end %>

<%= success(notice) %>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.full_name, user_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
