<h1>Check your email</h1>
<div class="no-pad">
<p>Please check your email for a link to finish resetting your password.</p>
<%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-primary btn-lg' %>
</div>
