<header>
  <div class="row align-items-center h-100">
    <%= link_to 'https://bebraven.org', class: 'col-sm-4 offset-sm-2' do %>
      <%= image_tag 'braven_logo.png', alt: 'logo', height: '40px' %>
    <% end %>
  </div>
</header>
