<% content_for :headline do %>
  Dashboard
<% end %>
<br/>
<div>
<%= link_to 'Content Editor', new_course_content_path %>
</div>
<br/>
<div>
<%= link_to 'Course Models', programs_path %>
</div>
<br/>
<div>
<%= link_to 'Sync To LMS', salesforce_sync_to_lms_path %>
</div>
<br/>
<div>
<%= link_to 'Portal', canvas_url, target: :_blank %>
</div>

