<h1>Grade Categories</h1>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    <% @grade_categories.each do |grade_category| %>
      <tr>
        <td><%= link_to grade_category.name, grade_category %></td>
        <td><%= link_to grade_category.base_course.name, grade_category.base_course %></td>
      </tr>
    <% end %>
  </tbody>
</table>
