<h1>Grade Category</h1>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @grade_category.name %></td>
    </tr>
    <tr>
      <td>Projects</td>
      <td><%= link_to 'click here', grade_category_projects_path(@grade_category) %></td>
    </tr>
  </tbody>
</table>
<br/>
<%= link_to 'Back To All Grade Categories', grade_categories_path %>
