<%= form_with(url: salesforce_sync_to_lms_path, method: "post", local: true) do |form| %>
  <div class="field">
    <%= form.label :program_id, "Program ID:" %>
    <%= form.text_field :program_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>    
