<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Sync to LMS</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <legend>Sync to LMS</legend>
      <%= render 'sync_to_lms_form' %>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

