<!-- COMPLETE HACK to get a prototype going. Remove this and replace with 
     a rake task for running locally and an API for Salesforce to call into.
-->
<h1>Salesforce#sync_to_lms</h1>
<br/>
<br/>
<%= @user_notification %>
<br/>
<br/>
<%= render 'form' %>

