<h1>Project</h1>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @project.name || @project.custom_content_version.title %></td>
    </tr>
    <tr>
      <td>Custom Content Version</td>
      <td><%= link_to @project.custom_content_version.id, custom_content_custom_content_version_path(@project.custom_content_version.custom_content, @project.custom_content_version) %></td>
    </tr>
    <tr>
      <td>Submissions</td>
      <td><%= link_to 'click here', project_project_submissions_path(@project) %></td>
    </tr>
  </tbody>
</table>
<br/>
