<% content_for :instructions_heading do %>
  <h1>Survey Submitted</h1>
<% end %>

<% content_for :instructions_prompt do %>
  <p>Thank you for submitting your survey!</p>
<% end %>

<%= render partial: 'instructions' %>
