 <div class="row">
    <table class="table mt-2 mb-0">
      <thead>
        <tr>
          <th>Canvas Course</th><th>Section</th><th>Role</th><th></th>
        </tr>
      </thead>
      <tbody>
      <% section_roles = user.section_roles %>
      <% unless section_roles.empty? %>
        <% section_roles.each do |role| %>
          <% section = role.resource %>
          <tr>
            <td>
              <%= section.course.name %>
            </td>
            <td>
              <%= section.name%>
            </td>
            <td>
              <%= role.name %>
            </td>
            <td>
              <% if edit_mode %>
                <%= link_to 'Delete Enrollment', user_users_role_path(user, role), method: :delete,
                             data: { confirm: 'Are you sure you want to delete this Enrollment?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr><td><p><em>No enrollments</em></p></td></tr>
      <% end %>
    </table>

</div>

