<h1>Oops!</h1>
<p>Sorry, something's gone wrong.</p>
<p>If you need help, please <%= link_to 'contact Braven Support', Rails.application.secrets.support_ticket_url %>,
and include the following error details:</p>
<pre>Path: <%= @request.path %>
Request ID: <%= @request.request_id %></pre>
