<h1>Editing Custom Content Version</h1>

<%= render 'form', custom_content_version: @custom_content_version %>

<%= link_to 'Show', @custom_content_version %> |
<%= link_to 'Back', custom_content_versions_path %>
