<div>
  <p>Select a project to create in Canvas</p>
  <%= form_tag base_course_base_course_custom_content_versions_path do -%>
    <select name="custom_content_id" id="custom_content_id">
      <% @projects.each do |project| %>
        <option value="<%= project.id %>"><%= project.title %></option>
      <% end %>
    </select>
    <input type='hidden' id="base_course_id" name='base_course_id' value='<%= @base_course.id %>' />
    <input type='submit' value='Create' />
  <% end -%>
</div>
