<div class="form-instructions-container">
  <h3>Waivers Submitted</h3>
  <p>Thank you for signing and submitting your waivers!</p>

  <% content_for :additional_instructions do %>
    <%= yield %>
  <% end %>
</div>
