<% content_for :instructions_heading do %>
  <h1>Waivers Submitted</h1>
<% end %>

<% content_for :instructions_prompt do %>
  <p>Thank you for signing and submitting your waivers!</p>
<% end %>

<%= render partial: 'instructions' %>
