<% content_for :title, 'Waivers Submitted' %>

<% content_for :instructions_heading do %>
  <h1>Waivers Submitted - One More Step</h1>
<% end %>

<% content_for :instructions_prompt do %>
  <p>Thank you for signing and submitting your waivers!</p>
  <p>Please immediately check your email and spam for a link to <strong>verify the waivers</strong> you just signed.</p>
<% end %>

<% content_for :instructions_call_to_action do %>
  <p><a href="<%= @course.canvas_url %>" class="btn btn-primary">Go Back To The Course</a></p>
<% end %>

<%= render partial: 'instructions' %>
