<% content_for :title, 'Waivers Submitted' %>

<% content_for :additional_instructions do %>
  <p><a href="<%= @base_course.canvas_url %>" class="btn btn-primary">Go Back To The Course</a></p>
<% end %>

<%= render partial: 'completed' %> 
