<% content_for :title, 'Submit Waivers' %>

<div class="row h-50">
  <div class="col-md align-self-center">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h1>Waiver Instructions</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <p>
        When this Course Template is launched as a new Program the waivers to sign will appear here.
        The actual waivers shown are controlled by the <code>FA ID Fellow Waivers</code> field on the
        Salesforce Program record.
        </p>
      </div>
    </div>
  </div>
</div>

