<h1>Lesson</h1>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @lesson.name %></td>
    </tr>
    <tr>
      <td>Points</td>
      <td><%= @lesson.points_possible %></td>
    </tr>
    <tr>
      <td>Submissions</td>
      <td><%= link_to 'click here', lesson_lesson_submissions_path(@lesson) %></td>
    </tr>
  </tbody>
</table>
<br/>
<%= link_to 'Back To All Lessons', grade_category_lessons_path(@lesson.grade_category) %>
