<h1>Course</h1>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
