<div class="col">

<%= link_to "Launch new program", launch_courses_path, class: "btn btn-lg", role: "button" %>

<%= render(
  'list',
  name: 'Course Templates',
  button_label: nil,
  courses: @courses.unlaunched_courses,
) %>

<%= render(
  'list',
  name: 'Current Launched Courses',
  courses: @current_launched_courses,
  button_label: nil,
) %>

<%= render(
  'list',
  name: 'Past Launched Courses',
  courses: @past_launched_courses,
  button_label: nil,
) %>

<p><small><em><b>Hint:</b> Cmd-Click "View On Canvas" to open in new tab</em></small></p>

</div>
