<div class="container">
<%= render(
  'list',
  name: 'Course Template',
  button_label: nil,
  courses: @courses.unlaunched_courses,
) %>

<%= render(
  'list',
  name: 'Launched Course',
  courses: @courses.launched_courses,
  button_label: nil,
) %>

<p><small><em><b>Hint:</b> Cmd-Click "View On Canvas" to open in new tab</em></small></p>

</div>
