<% content_for :headline do %>
  New Course
<% end %>

<p>Not Yet Implemented.</p>
<p>See <a href="https://app.asana.com/0/1174274412967132/1198935151567022">https://app.asana.com/0/1174274412967132/1198935151567022</a></p>
