<% content_for(:breadcrumbs) do %>
  <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  <li class="breadcrumb-item"><%= link_to "Attendance Events", attendance_events_path %></li>
  <li class="breadcrumb-item active" aria-current="page">Add Attendance Event</li>
<% end %>

<div class="col">
  <%= render partial: "form" %>
</div>
