<div>
  <p>Select an existing project</p>
  <%= render partial: "base_course_custom_content_versions/upload" %>

  <p><strong>OR</strong></p>
  <p>Upload a Rise 360 lesson</p>
  <%= render partial: "lesson_contents/upload" %>
</div>
