<% content_for :title, 'Project' %>

<div class="bv-custom-content-container"
     id="custom-content-wrapper"
     data-turbolinks="false"
     data-read-only="false"
     data-project-submission-id="<%= @project_submission.id %>">

  <%== @course_project_version.project_version.body %>

  <!-- Submit -->
  <%= react_component('Projects/ProjectSubmitButton', {
    hasSubmission: @has_previous_submission,
    ltiLaunchState: params[:state],
    courseContentVersionId: @course_project_version.id,
  })%>

  <%# Project autosave feedback %>
  <%# Remove this if/when we redo in React. %>
  <div id="autosave-status-bar" role="status" aria-live="polite"></div>

</div>

<%= javascript_pack_tag 'project_answers' %>
