<h1>Project Submissions</h1>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Project Submission</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    <% @project_submissions.each do |ps| %>
      <tr>
        <td><%= link_to ps.user.full_name, ps.user %></td>
        <td><%= link_to ps.project.name, ps.project %></td>
        <td><%= link_to ps.project.name + ' Submission', [ps.project, ps] %></td>
        <td><%= as_percent(ps.points_received / ps.project.points_possible) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
