<div class="bv-custom-content-container">
  <%= render 'project' %>

  <!-- Submit -->
  <%= react_component('Projects/ProjectSubmitButton', {
    hasSubmission: @has_previous_submission,
    ltiLaunchState: params[:state],
    courseContentVersionId: @base_course_project_version.id,
  })%>
</div>

