.bz-module,
.bz-view-box {
	width: 100%;
	position: relative;
}

.bz-module input[data-correctness="correct"] + label {
    color: green;
}

.bz-module input[data-correctness="incorrect"] + label {
    color: red;
}

.bz-module input[data-correctness="maybe"] + label,
.bz-module input[data-correctness=""] + label {
    color: #a54c2a;
}

/* TYPOGRAPHY */
body {
	font-family: Georgia, serif;
}

th,
h1,
h2,
h3,
h4,
h5,
h6,
nav li,
input[type="button"],
th {
	font-family: "TradeGothicNo.20-CondBold", "Oswald", sans-serif;
	text-transform: uppercase;
	line-height: normal;
	font-weight: normal;
	font-size: 1.2em;
}

/* Unhide "display: none" things. */
.conditional-show {
	display: block;
}

.revealable,
.feedback {
	display: block;
}

.instant-range-feedback .feedback {
	display: block;
}

.bz-ajax-loaded-rubric .learning_outcome_flag,
.bz-ajax-loaded-rubric .links,
.bz-ajax-loaded-rubric .points_form,
.bz-ajax-loaded-rubric .editing,
.bz-ajax-loaded-rubric .long_description_holder,
.bz-ajax-loaded-rubric .threshold {
	display: block;
}
