// Place all the styles related to the course_content_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bz-assignment .highlighted-user-input {
  background-color: #3BE7DD
}

.bz-assignment input[type=submit] {
  background-image: none;
  background: #eb3b46;
  border: 1px solid transparent;
  border-color: white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "TradeGothicNo.20-CondBold", Impact, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.333em;
  margin: 0;
  padding: 10px 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  transition: all 0.5s ease 0s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

 .bz-assignment input[type=submit]:focus {
  background-color: #3071a9;
  border-color: #285e8e;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  text-decoration: none;
}

.bz-assignment input[type=submit]:active:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.bz-assignment input[type=submit]:hover {
  background-color: #3071a9;
  background: #000;
  border-color: #285e8e;
  text-decoration: none;
}

.bz-assignment input[type=submit]:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  background-color: #3071a9;
  background-image: none;
  border-color: #285e8e;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  outline: 0;
}
