// Place all the styles related to the contents controller here.
// They will automatically be included in.application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* assets/styles.css */


/* custom temporary hacks for content editor demo */
#content-editor form {
  height: 100%;
}

#content-editor div.field {
  height: 100%;
}

#content-editor div.field > div {
  height: 100%;
}

#content-editor div#raw-html-container > textarea {
  width: 100%;
  min-height: 400px;
}
#content-editor .ck.ck-editor__editable_inline {
  min-height: 370px;
}
#content-editor span#autosave-indicator {
  display: none;
}
#content-editor textarea.secret-html {
  display: none;
}
/* /hacks */

/* --- Show module --- */
.show-module-notice {
	font-size: 20px;
	margin: 2em;

	strong {
		color: red;
	}
}

/* --- Warnings for invalid content --- */
.content-section > :not(.module-block):not([data-placeholder="[Empty section]"]):before,
.content-section > .module-block:nth-of-type(2):before {
        content: "INVALID CONTENT IN SECTION - Please remove or ask tech team for help\A";
        white-space: pre;
        color: black;
        background-color: red;
        border: 1px black solid;
        padding: 0.2em;
        font-weight: bold;
        font-size: 12pt;
        font-family: sans-serif;
}

.content-section > :not(.module-block):not([data-placeholder="[Empty section]"]),
.content-section > .module-block:nth-of-type(2) {
        background-color: khaki;
}

/* --- Editor / Content styles --- */
.bz-module,
.bz-view-box {
	width: 100%;
	position: relative;
	background-color: white;
}

.bz-module > .ck {
	max-width: 708px;
	margin-left: auto;
	margin-right: auto;
}

.bz-module input[data-correctness="correct"] + label {
    color: green;
}

.bz-module input[data-correctness="incorrect"] + label {
    color: red;
}

.bz-module input[data-correctness="maybe"] + label,
.bz-module input[data-correctness=""] + label {
    color: #a54c2a;
}


div.module-block div.module-icon-preview,
.module-icon-preview {
        width: 50px;
        height: 50px;
        background-position-y: 0;
        padding: 0;
        border: 0;
        margin: 0;
        margin-bottom: 0.5em;
        background-repeat: no-repeat;
}

/* TYPOGRAPHY */
body {
	font-family: Georgia, serif;
}

.bz-module th,
.bz-module h1,
.bz-module h2,
.bz-module h3,
.bz-module h4,
.bz-module h5,
.bz-module h6,
button.ck.ck-button.ck-heading_h2 .ck-button__label,
button.ck.ck-button.ck-heading_h3 .ck-button__label,
button.ck.ck-button.ck-heading_h4 .ck-button__label,
button.ck.ck-button.ck-heading_h5 .ck-button__label,
button.ck.ck-button.ck-heading_h6 .ck-button__label,
.bz-module nav li,
.bz-module input[type="button"],
.bz-module th {
	font-family: "TradeGothicNo.20-CondBold", "Oswald", sans-serif;
	text-transform: uppercase;
	line-height: normal;
	font-weight: normal;
}

button.ck.ck-button.ck-heading_h2 .ck-button__label,
button.ck.ck-button.ck-heading_h4 .ck-button__label,
button.ck.ck-button.ck-heading_h6 .ck-button__label {
	color: #EB3B46;
}

button.ck.ck-button.ck-heading_h2 .ck-button__label {
	font-size: 40px;
}

button.ck.ck-button.ck-heading_h3 .ck-button__label {
	font-size: 34px;
}

button.ck.ck-button.ck-heading_h4 .ck-button__label {
	font-size: 27px;
}

button.ck.ck-button.ck-heading_h6 .ck-button__label {
 font-size: 16px;
 letter-spacing: 0.1em;
}

button.ck.ck-button.ck-heading_h5 .ck-button__label {
	font-size: 24px;
}

/* Unhide "display: none" things. */
.conditional-show {
	display: block;
}

.revealable,
.feedback {
	display: block;
}

.instant-range-feedback .feedback {
	display: block;
}

.bz-ajax-loaded-rubric .learning_outcome_flag,
.bz-ajax-loaded-rubric .links,
.bz-ajax-loaded-rubric .points_form,
.bz-ajax-loaded-rubric .editing,
.bz-ajax-loaded-rubric .long_description_holder,
.bz-ajax-loaded-rubric .threshold {
	display: block;
}

/* more overrides */
.block-quote-bg > div.content,
div.content > blockquote {
        width: 100%;
}

div.content > blockquote:focus,
div.content > blockquote:focus > small {
        color: black;
        background: none;
}
div.module-block:not(.block-quote-bg) blockquote {
        padding: 0 1.5em;
        margin: 0;
        border-left: none;
        width: 100%;
        background: none;
        color: black;
        font-size: 18px;
}

/* custom components */
div.partial-html-document:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.ck iframe.ck-widget,
.ck iframe.ck-widget.ck-widget_selected,
.ck iframe.ck-widget.ck-widget_selected:hover {
        outline-width: 10px;
        outline-offset: -10px;
        padding: 10px;
}

/* --- Right sidebar styles --- */
ul.widget-list li.disabled,
ul.widget-list li.disabled:hover {
  border: 1px solid #bbb;
  background-color: #ddd;
  color: #888;
}

/* --- Left Sidebar styles --- */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #373a47;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #9ad7d7;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* --- Content Editor styles ----- */
section.content-section {
    border: 1px dashed grey;
}

div#wysiwyg-container {
    // Set a max height that matches the right-sidebar... for now.
    max-height: 825px;
    overflow-y: auto;
}

// overwrite reboot.css
legend {
    font-size: 1rem !important;
}

/* --- General.application styles --------------------------------------------------- */

.demo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 auto;
}

.demo h2 {
    font-size: 1.3em;
}

.demo textarea {
    width: 100%;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 14px;
}

/* --- Product offer editor styles ----------------------------------------------------- */

.demo .demo__offer-editor {
    flex: 1 1 auto;
    max-width: 800px;
}

/* --- Generic content-part preview styles --------------------------------------------------- */

.demo .content-part-preview {
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--content-part-image);
    background-size: cover;
    height: 150px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 3px hsla(0, 0%, 0%, .3);
    min-width: 160px;
}

.demo .content-part-preview .content-part-preview__name {
    padding: 10px;
    background: hsl(0, 0%, 100%);
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.demo .content-part-preview .content-part-preview__price {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: hsl(346, 100%, 56%);
    padding: 6px 10px;
    min-width: 50px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: .8em;
}

.demo .content-part-preview .content-part-preview__add {
    display: none;
}

/* --- Product list styles --------------------------------------------------- */

.demo .demo__content-part-list {
    margin-left: 20px;
    padding: 20px;
    min-width: 400px;
    border-left: 1px solid hsl(0, 0%, 87%);
}

.demo .demo__content-part-list h2 {
    margin-top: 10px;
}

.demo .demo__content-part-list ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.demo .demo__content-part-list .content-part-preview {
    opacity: .7;
}

.demo .demo__content-part-list .content-part-preview:hover {
    opacity: 1;
}

.demo .demo__content-part-list .content-part-preview:hover .content-part-preview__add {
    display: block;
}

.demo .demo__content-part-list .content-part-preview .content-part-preview__add {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 45%;
    left: 50%;

    border: 0;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border-radius: 100px;
    background: hsl(0, 0%, 100%);
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%, .3);
}

.demo .demo__content-part-list .content-part-preview .content-part-preview__add span {
    font-size: 25px;
    vertical-align: middle;
    color: hsl(0, 0%, 24%);
    line-height: 40px;
    display: inline-block;
}

.demo .demo__content-part-list .content-part-preview .content-part-preview__name {
    font-size: 10px;
}

.demo .demo__content-part-list .content-part-preview .content-part-preview__price {
    font-size: 10px;
}

/* --- In-editor content-part widget styles --------------------------------------------------- */

.demo .ck-content .content-part {
    margin: 1em;
    animation: slideUp 0.3s ease;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(1em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* React Tabs */
.react-tabs__tab--selected {
    border: 0 !important;
}
