// Place all the styles related to the contents controller here.
// They will automatically be included in content_editor.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* assets/styles.css */

@import "shared/variables";

/* Braven Projects CSS */
.bv-custom-content-container {

  p {
    font-size: 1rem;
  }

  textarea, input:not([type=submit]) {
    min-width: 6rem;
  }

  textarea, input[type=text] {
    width: 100% !important;
  }

  textarea {
    min-height: 6rem;
  }

  div.watch-out {
    padding: 1rem;
    margin: 0.5rem;
    outline: $bv-red 0.3rem solid;
  }

  .highlighted-user-input {
    background-color: $bv-skyblue-500;
  }

  iframe.linked-in-authorization-button {
    // Size of button icon with an extra pixel in each dimension 
    // for the border on hover and focus.
    width: 217px;
    height: 43px; // Height of button plus 2px for the 1px border.
    border-width: 0;
  }
}
/* End Braven Projects CSS */

// TODO: are there obsolete? I don't know if they are custom content
// styles or content editor styles or what?
.block-quote-bg > div.content,
div.content > blockquote {
  width: 100%;
}

div.content > blockquote:focus,
div.content > blockquote:focus > small {
  color: $bv-black;
  background: none;
}
