// Place all the styles related to the linked_in_authorization controller here.
// They will automatically be included in lti_canvas.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/variables";

// The container just contains a button. So make it look and
// act like one.
div.embedded_linked_in_authorization_container {
  padding: 0;
  overflow: hidden;

  &:hover, &:focus {
    border: 1px solid $bv-oceanblue-600; // 1px must match the extra room given to the iframe
    border-radius: 0.2rem;
  }
}
