// This file allows us to apply our own CSS to Rise360 Module content.
//
// It's a bit non-standard b/c we compile it as a standalone CSS file
// rather than bundle it together with other CSS for the layout b/c it's
// injected into the Rise360 content using Javascript. See:
// app/javascript/packs/rise360_module_versions.js.erb
//
// DEV NOTE: changes here won't take effect in development until you force
// Webpacker to recompile the above Javascript file

// ##########
// IMPORTANT: avoid adding styles here as much as possible!!!
// #########
// It's not maintainable to add styles here.  For everything we add, the odds
// of Rise360 changing their HTML and it just suddenly breaking one day causing us
// to rush out a fix and have to deal with both old and new HTML rises.
// We likely won't have a good way to proactively detect this either.
// Avoid this at all costs and make sure you've pushed back on the
// the Designer or Product Manager that is pushing for this change, being very
// clear that it's brittle and WILL just suddenly break one day causing fires and headaches.

@import "shared/variables";

// Add custom styles to overwrite the Rise360 ones that we need here.

/** Links */ 
.page__content .brand--linkColor a {
  color: $bv-oceanblue-600 !important;
  fill: $bv-oceanblue-600 !important;
}

.page__content .brand--linkColor a:visited {
  color: $bv-oceanblue-700 !important;
  fill: $bv-oceanblue-700 !important;
}

.page__content .brand--linkColorHover a:hover {
  color: $bv-oceanblue-700 !important;
  fill: $bv-oceanblue-700 !important;
}

/** Quizzes */

// Note: the "Incorrect" color is black, not red. Just leave it alone b/c there is no "incorrect"
// version of selectors to target.

// Checkmark in overall feedback when correct
.page__content div.quiz-card__feedback-icon.quiz-card__feedback-icon--correct.brand--color {
  color: green !important;
}

// Inline feedback
.page__content div.quiz-card__interactive.quiz-card__interactive--done .quiz-multiple-choice-option--correct {
  // Checkmark inside radio for selected correct answer
  .icon.brand--color {
    color: green !important; 
  }

  // Checkmark inside checkbox for correct answer (selected or not)
  .i-checkMark.brand--fill {
    fill: green !important;
  }

  // Border box around selected correct answer (both radios and checkboxes)
  .brand--beforeBorder:before {
    border-color: green !important; 
  }
}

