<p>The test user generation was successful. You can register your test user(s) by using the signup links below</p>

<% if @success_users.present? %>
  <ol>
    <% @success_users.each do |user| %>
      <li>
        <a href="#" style="text-decoration: none; color:#222"><%= user['email'] %></a>:
        <% if user['signup_token'].blank? %>
          <span>No signup link created</span>
        <% else %>
          <%= link_to 'User Signup Link', user['signup_url'] %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
