<% content_for(:breadcrumbs) do %>
  <li class="breadcrumb-item"><%= link_to "Modules", rise360_modules_path %></li>
  <li class="breadcrumb-item active" aria-current="page">Edit Module </li>
<% end %>

<div class="col">
  <%= render partial: "attachable/form", locals: { path: rise360_module_path(@rise360_module) } %>
</div>
