<div class="col-sm-12 col-md-8 col-lg-6">
  <h1>Braven Network</h1>

  <p class="lead">
    Your response has been recorded.
    <% if @reminder_requested %>
      Please send a follow-up email to <%= @reminder_email %> asking them to connect.
    <% end %>
    Thank you for using the Braven Network!
  </p>

  <a class="btn btn-primary" href="<%= connect_champions_path %>">Search for more Braven Network members</a>
</div>
