<%#
  This layout is a container for Rise360 content so that we can iframe in the content
  and inject our own CSS using Javascript in order to apply custom styles.
%>

<% content_for :head do %>
  <%= stylesheet_link_tag 'layouts/rise360_container', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :content do %>
  <div class="container-fluid <%= content_for?(:alternate_container_css) ? yield(:alternate_container_css) : 'rise360-container' %>">
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/application" %>


